body {
  text-align: center;
  margin: 0 auto;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root{
  /* border: 5px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 110vh;
  position: relative;
  background-color: #AAC4FF;
}

.weath-head{
  color: rgb(131,58,180);
  border-bottom: 4px solid rgb(131,58,180);
}


.out{
  /* border: 1px solid black; */
  border-radius: 10px;
  width: 350px;
  height: 600px;
  /* padding: 10px; */
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.form{
  position: absolute;
  top: 5%;
}

.container{
  border-radius: 15px;
  padding: 10px;
  background: #427BFF;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 85%;
  height: 60%;
  position: absolute;
  bottom: 4%;
  /* margin-bottom: 6px; */
  /* border: 1px solid black; */
}


.link-cont{
  border: 1px solid white;
  position: absolute;
  width: 100%;
  bottom: 0;
  transform: translateX(-50%);
  padding: 2px;
  background-color: white;
  height: 60px
}

.heading{
  /* border: 5px solid black; */
  /* z-index: 999; */
  position: absolute;
  top: 12%;
  color: #6A6A6A;
  font-size: 2rem;
  text-transform: capitalize;
}

.link{
  /* border: 1px solid black; */
  text-decoration: none;
  color: rgba(131,58,180,1);
  cursor: pointer;
}

.input-box{
  border: none;
  background-color: rgb(243, 241, 241);
  height:40px;
  width: 180px;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  color:#6A6A6A ;
  font-size: 15px;
  margin: 5px;
}


.button{
  border: none;
  outline: none;
  background-color: rgb(182, 180, 180);
  height:35px;
  border-radius: 5px;
  padding: 5px;
  color: white;
  text-transform: uppercase;
}


.image{
  height: 180px;
  margin-top: -40px;
}

.temp{
  color:white;
  font-size: 5rem;
  margin-top: -50px;
}

.des{
  color:white;
  font-size: 20px;
  text-transform: capitalize;
}

.mess{
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid black; */
  width: 100%;
  height: 40%
}

.mess li{
  padding: 6px;
  color: white;
  font-size: 15px;
}