body {
  text-align: center;
}
.form {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
.Search {
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 4px;
}
h2 {
  font-size: 25px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  font-weight: bold;
  font-size: 25px;
  line-height: 19px;
  list-style: none;
}
form {
  display: block;
}
.temperature {
  font-weight: bold;
  font-size: 55px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}
